

<h1> Angular - Online Test </h1>
<div id="main_div">
    <!--<app-quiz></app-quiz>-->
    <!--<a href="review">Review</a> | -->
    <a href="test">Test</a> | 
    <a href="result">Result</a>
</div>

<router-outlet></router-outlet> 
<div style="height: 3em"></div>
<footer>
    <div class="text-center p-0" >
        <p>
            © 2022 Copyright:
            <!--<a class="text-light text-center" href="https://harmonengineering.com/">Brian Harmon - Harmon Engineering L.L.C.</a>-->
            <a class=" text-center" href="https://harmonengineering.com/">Brian Harmon - Harmon Engineering L.L.C.</a>
        </p>
  </div>
</footer>

