
h1
{
    background-color: black ;
    color: white ;
    padding: 1% ;
}
#main_div
{
    background-color: black ;
    color: white ;
    padding: 1% ;
}
#main_div a
{
    
    background-color: black;
    color: white ;
    font-size:medium;
    font-weight: 900;
    border: cornflowerblue solid 2px ;
    border-radius: 10px;
    padding: .5em ; 
    margin: 1em ; 
}
footer
{
    background-color: black;
    color:azure;
    margin: 0 ; 
    padding: 0 ; 
    position: fixed; 
    bottom: 0 ; right: 0 ; 
    width: 100% ; 
    /*
    background-image: url(./images/lukasz-rawa-fmc-tFMMiBs-unsplash.jpg); 
    */
    opacity: 0.50 ; 
    

}
footer a 
{
    margin: 0 ; 
    padding: 0 ; 
    color: cyan ;
    background-color: black;
}