.myClass1
{
    color:blue ;
    background-color: aqua;
    font-size: 20px;
    margin: 0%;
    border-style: solid;
    border-color:white ;
}
.myClass2
{
    color:coral ;
    background-color:bisque;
    font-size: 20px;
    margin: 0%;
    border-style: solid;
    border-color:white ;
}