.tool
{
  margin: 0.5rem ;
  color:#42A948 ;
  border: 1px solid black ;
  color: lightblue ;
  background-image: linear-gradient(floralwhite,blue) ;
}
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
  
  .alert div {
    background-color: #fed3d3;
    color: #820000;
    /* padding: 1rem; */
    margin-bottom: 1rem;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: .5rem;
  }
  
  select {
    width: 100%;
    padding: .5rem;
  }
  .LoginForm
  {
    display: flex; margin: auto ; 
    background-image: linear-gradient( darkgray, lightblue, darkblue ); 
    padding: 1rem; 
    border: 2px solid black ; 
    width: min-content; 
    justify-content: center; 
    align-items: center;
  }
